body {
    font-family: "Roboto", sans-serif !important;
    padding: 20px;
}
h2 {
    font-size: 26px;
    font-weight: 800;
}
h2 img {
    height: 28px;
    vertical-align: top;
}
h3 {
    font-weight: 700 !important;
}
#container {
    width: 100%;
    max-width: 900px;
    margin: 30px auto;
}
.slider-control {
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
input[type=range] {
    width: 200px;
}
#yearRangeSlider {
    width: 300px;
    margin-bottom: 8px;
}
.custom-nav {
    background: #F3F3F2;
    border-radius: 16px;
    font-size: 20px !important;
    padding: 8px 0;
}
.custom-nav .nav-link {
    color: #222;
    border-radius: 16px;
    text-align: center;
}
.custom-nav .selected {
    color: #0093d5;
    font-weight: 800;
}
#indicator_container {
    background: #F7F7F8;
    border: 2px solid #C7C6C0;
    border-radius: 16px;
    font-size: 20px;
    font-weight: 700;
    min-height: 325px;
}
#indicator_total_documents, #indicator_total_fulltext {
    font-size: 40px;
}
.noUi-connect {
    background: #0093d5 !important;
}
.noUi-handle {
    border: 2px solid #0093d5 !important;
    background: white !important;
}
#filters {
    max-width: 900px;
    margin: auto;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: #0093d5 !important;
}